<% @question.each do |question| %>
<% @card.each do |card| %>
<br>
<br>
<br>
<ol>
	<li>
		<%= content_tag :p, "Question:#{question.question}?", class: ""%>
	</li>
</ol>
<%= radio_button_tag(:Random_Answers, "answer") %>
<label for="answer"><%= "answer:#{question.answer}" %></label>
<div><%= radio_button_tag(:Random_Answers, "answer") %>
<label for="answer"><%= "Random Answers:#{card.answer}" %></label>
<div><%= radio_button_tag(:Random_Answers, "answer") %>
<label for="answer"><%= "Random Answers:#{card.answer}" %></label>
<div><%= radio_button_tag(:Random_Answers, "answer") %>
<label for="answer"><%= "Random Answers:#{card.answer}" %></label>


<br>
<br>
<% end %>
<% end %>
<%= submit_tag "Submit Quiz" %>