<h2>All the private cards</h2>
	<!-- form for creating new private card -->
	<h2>Create New Private Card</h2>
	<%= form_for @privateCard do |c| %>
		<%= c.label :Question %>
		<%= c.text_field :question %>
		<%= c.label :Answer %>
		<%= c.text_field :answer %>
		<%= c.label :Tag %>
		<%= c.text_field :tag %>
		<%= c.submit :Create %>
	<% end %>

	
		<% privateCards.each do |card| %>
			<!-- button and link to edit a card -->
		<% if current_user == card.user || current_admin %>
			<!-- form for editing private card -->
		
		<% end %>
<% end %>



