<h2>All the cards</h2>
<% @cards.each do |card| %>
<!-- displays all the cards -->
<%= content_tag :p, "Level: #{card.level_id}", class: "level_id" %>
<%= content_tag :p, "Question:#{card.question}?", class: "question"%>
<%= content_tag :p, "Answer: #{card.answer}", class: "answer" %>

<!-- button and link to edit a card -->
<button><%= link_to "Edit Card", edit_card_path(card) %></button>
<button><%= link_to "Delete Card", card_path(card), method: :delete, data: { confirm: "You sure?" } %></button>
<% end %>