<h2>All the private cards</h2>

<% @privateCards.each do |card| %>
<% if current_user.id == card.user_id%>
	<!-- displays all the cards -->
	<%= content_tag :p, "Question:#{card.question}?", class: "question"%>
	<%= content_tag :p, "Answer: #{card.answer}", class: "answer" %>
	<%= content_tag :p, "Tag: #{card.tag}", class: "tag" %>
	<%= content_tag :p, "Created By: #{card.user.email}", class: "user-email" %>
	<!-- button and link to edit a card -->
	<% if current_user == card.user || current_admin %>
	<!-- only display edit button if the public card was created by the current user or is an admin -->
	<button><%= link_to "Edit Card", edit_private_card_path(card) %></button>
	<!-- only display delete button if the public card was created by the current user or is an admin -->
	<button><%= link_to "Delete Card", private_card_path(card), method: :delete, data: { confirm: "You sure?" } %></button>
	<% end %>
<% end %>
<% end %>
