<% if user_signed_in? %>
<h1>Welcome</h1>
<%= content_tag :p, "Username: #{current_user.profile.username}" %>
<%= content_tag :p, "First Name: #{current_user.profile.fname}" %>
<%= content_tag :p, "Last Name: #{current_user.profile.lname}" %>
<%= content_tag :p, "Level: #{current_user.profile.level}" %>
<%= content_tag :p, "Credibility: #{current_user.profile.credibility}" %>
<% end %>