<% if user_signed_in? %>
<h1><%="Welcome #{current_user.profile.fname.upcase}" %></h1>	
<%= content_tag :p, "Username: #{current_user.profile.username} " %>
<%= content_tag :p, "Name: #{current_user.profile.fname} #{current_user.profile.lname}" %>
<%= content_tag :p, "Credibility Points: #{current_user.profile.credibility}" %>
<%= content_tag :p, "Level: #{current_user.profile.level}" %>

<% end %>