<!-- if user admin is logged in display admin's page -->
<% if admin_signed_in? %>
<h1>Admin's Home</h1>
<% end %>

<!-- if user is signed in display users page -->
<% if user_signed_in? %>
	<%= content_tag :div, id:"profile_content" do %>
	<%= render 'profile_info' %>
	<%end%>
<% end %>


<!-- Log in button hidden if user signed in -->
<% unless user_signed_in? || admin_signed_in? %>
<div class="landingTitle">
	<h1>Welcome to NYCDA Flash Card App!</h1>
</div>
<div class="userLogIn">
	<a href="login">Log In</a>
</div>
<% end %>

<!-- Log in button hidden if admin is signed in -->
<% unless admin_signed_in? || user_signed_in?  %>
<div class="adminLogIn">
	<a href="login_admin">Log in as Admin</a>
</div>
<% end %>

<!-- below here visible to both user and admin -->
<!-- some partials may have logic within tdhem that prevents -->
<!-- a user or admin from seeing certain content contained within the partial -->
	<% if admin_signed_in? %>

			<li>
	  		<!-- show the logout button if anyone is logged in -->
	  		<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>     
	  		</li>
	 <% end %>
			<% if user_signed_in? %> 
				<nav>	
					<ul> 
			  			<li>
			  				<button class ="create-private-cards">Create Private Cards</button>
			  			</li>
			  			<li>
			  				<button class="show-private-cards-button">Your Private Cards</button>
			  			</li>
			  			<li>
			  				<button class="show-public-cards-button">All Public Cards</button>
			  			</li>
			  			<li>
			  				<button id="editp">Edit Profile</button>
			  			</li>
			  			<li>
			  			<!-- show the logout button if anyone is logged in -->
			  			<%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 
			  			</li>
					</ul>
				</nav>

  	<!-- public card CRUD actions -->
  	<%= content_tag :div, class: "publicCard" do %>
	<%= render "public_cards/public_card_crud", cards: @cards %>
	<% end %>
	<!-- create a public card -->
	<%= content_tag :div, class: "publicCard" do %>
	<%= render "public_cards/create_public_card", cards: @cards %>
	<% end %>
	<!-- all the cards. No CRUD actions -->
	<%= content_tag :div, class: "cards" do %>
	<%= render "cards/cards", cards: @cards %>
	<% end %>

	<!-- private cards only need to be shown to a user -->
	<% if user_signed_in? %>
			<!-- user's private cards. Not visible to admins -->
		<%= content_tag :div, class: "privateCard" do %>
		<%= render "private_cards/private_cards", privateCard: @privateCard %>
		<% end %>
		<!-- <button value="2">Display Card</button> -->
		<%= content_tag :div, class: "privateCardSingle" do %>
		<%= render "private_cards/private_cards_info", selectedCard: PrivateCard.find(1) %>
		<% end %>

		<%= content_tag :div, class: "privateCardEdit" do %>
		<%= render "private_cards/private_card_edit", card: PrivateCard.find(1) %>
		<% end %>
	<% end %>
<br>	
<br>	
<br>	
<br>	
<% end %>

<!-- below here is only visible to admins -->
<% if admin_signed_in? %>
	<!-- all the users -->
	<button class="show-all-users">Display All Users</button>
	<%= content_tag :div, class: "users" do %>
	<%= render "users/users", users: @users %>
	<% end %>
	<!-- all the cards -->
	<button class="show-cards-button">Display All Cards</button>
	<%= content_tag :div, class: "cards" do %>
	<%= render "cards/cards_admin_crud", cards: @cards %>
	<% end %>
	<!-- create a new card -->
	<button class="create-new-card-button">Create A New Card</button>
	<%= content_tag :div, class: "new-card" do %>
	<%= render "cards/new_card_admin", card: @card %>
	<% end %>
	<!-- all quiz RUD actions, including quiz questions. Create is seperate-->
	<button class="show-quizzes-button">Display All Quizzes</button>
	<%= content_tag :div, class: "quizzes" do %>
	<%= render "quizzes/quizzes_admin_crud", quiz: @quiz %>
	<% end %>

	<!-- for toggling form for creating a new quiz -->
	<button id="new-quiz-button">Create Quiz</button>
	<!-- the rendered view for creating a quiz -->
	<%= content_tag :div, class: "create-quiz" do %>
	<%= render "quizzes/new_quiz", quiz: @quiz %>
	<% end %>
<% end %>
	
<!-- only show if user is signed in -->
<% if user_signed_in? %>
	<%= content_tag :div, class: "profiles" do %>
	<%= render "profiles/edit_profile", profile: @profile %>
	<% end %>
<% end %>

<!-- FLIP CARD -->
<%= content_tag :div, class: "flipCard" do %>
<%= render "cards/flip_card" %>
<% end %>



