<!-- if user admin is logged in display admin's page -->
<% if admin_signed_in? %>
<h1>Admin's Home</h1>
<% end %>

<!-- if user is signed in display users page -->
<%= content_tag :div, id:"profile_content" do %>
<%= render 'profile_info' %>
<%end%>


<!-- Log in button hidden if user signed in -->
<% unless user_signed_in? || admin_signed_in? %>
<a href="login">Log In User</a>
<% end %>

<!-- Log in button hidden if admin is signed in -->
<% unless admin_signed_in? || user_signed_in?  %>
<a href="login_admin">Log in Admin</a>
<% end %>

<!-- below here visible to both user and admin -->
<!-- some partials may have logic within tdhem that prevents -->
<!-- a user or admin from seeing certain content contained within the partial -->
<% if user_signed_in? || admin_signed_in? %>
  <li>
  	<!-- show the logout button if anyone is logged in -->
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
  	<!-- public card CRUD actions -->
  	<%= content_tag :div, class: "publicCard" do %>
	<%= render "public_cards/public_card_crud", cards: @cards %>
	<% end %>
	<!-- create a public card -->
	<%= content_tag :div, class: "publicCard" do %>
	<%= render "public_cards/create_public_card", cards: @cards %>
	<% end %>
	<!-- all the cards. No CRUD actions -->
	<%= content_tag :div, class: "cards" do %>
	<%= render "cards/cards", cards: @cards %>
	<% end %>
	<!-- user's private cards. Not visible to admins -->
	<%= content_tag :div, class: "privateCard" do %>
	<%= render "private_cards/private_cards", cards: @cards %>
	<% end %>

<% end %>

<!-- below here is only visible to admins -->
<% if admin_signed_in? %>
	<!-- all the users -->
	<%= content_tag :div, class: "users" do %>
	<%= render "users/users", users: @users %>
	<% end %>
	<!-- all the cards -->
	<%= content_tag :div, class: "cards" do %>
	<%= render "cards/cards_admin_crud", cards: @cards %>
	<% end %>
	<!-- create a new card -->
	<%= content_tag :div, class: "new-card" do %>
	<%= render "cards/new_card_admin", card: @card %>
	<% end %>
	<!-- all quiz CRUD actions, including quiz questions -->
	<%= content_tag :div, class: "quizzes" do %>
	<%= render "quizzes/quizzes_admin_crud", quiz: @quiz %>
	<% end %>

<% end %>
	
<!-- only show if user is signed in -->
<% if user_signed_in? %>
	<%= content_tag :div, class: "quizzes" do %>
	<%= render "profiles/edit_profile", users: @users %>
	<% end %>
<% end %>
