<!-- if user admin is logged in display admin's page -->
<% if admin_signed_in? %>
<h1>Admin's Home</h1>
<% end %>

<!-- if user is signed in display users page -->
<% if user_signed_in? %>
<h1>Home Page</h1>
<% end %>
<p>Find me in app/views/home/index.html.erb</p>

<!-- Log in button hidden if user signed in -->
<% unless user_signed_in? || admin_signed_in? %>
<a href="login">Log In User</a>
<% end %>

<!-- Log in button hidden if admin is signed in -->
<% unless admin_signed_in? || user_signed_in?  %>
<a href="login_admin">Log in Admin</a>
<% end %>

<% if user_signed_in? || admin_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>

  	<%= content_tag :div, class: "publicCard" do %>
	<%= render "public_card_crud", cards: @cards %>
	<% end %>

	<%= content_tag :div, class: "publicCard" do %>
	<%= render "create_public_card", cards: @cards %>
	<% end %>

	<%= content_tag :div, class: "cards" do %>
	<%= render "cards", cards: @cards %>
	<% end %>

<% end %>

<% if admin_signed_in? %>

	<%= content_tag :div, class: "users" do %>
	<%= render "users", users: @users %>
	<% end %>

	<%= content_tag :div, class: "cards" do %>
	<%= render "cards_admin_crud", cards: @cards %>
	<% end %>

	<%= content_tag :div, class: "new-card" do %>
	<%= render "new_card_admin", card: @card %>
	<% end %>

	<%= content_tag :div, class: "quizzes" do %>
	<%= render "quizzes_admin_crud", quiz: @quiz %>
	<% end %>

	<%= content_tag :div, class: "new-quiz" do %>
	<%= render "new_quiz_admin", quiz: @quiz %>
	<% end %>
<% end %>
