<h2>Create a new public card</h2>
<p>This card will be visible to everyone!</p>

<!-- for for creating a new public card -->
<%= form_for @publicCard do |c| %>
	<%= c.label :Question %>
	<%= c.text_field :question %>
	<%= c.label :Answer %>
	<%= c.text_field :answer %>
	<%= c.label :Tag %>
	<%= c.select :tag, [['HTML','HTML'],['CSS','CSS'],['JS','JS'],['RUBY','RUBY'],['RAILS', 'RAILS'],['OTHER','OTHER']] %>
	<%= c.submit :Create %>
<% end %>