<h2>All the public cards</h2><br>
<% @publicCards.each do |card| %><br><br><br><br><br><br>
	<!-- displays all the cards -->
	<%= content_tag :p, "Question:#{card.question}?", class: "question"%>
	<%= content_tag :p, "Answer: #{card.answer}", class: "answer" %>
	<%= content_tag :p, "Tag: #{card.tag}", class: "tag" %><br>
	<%= content_tag :p, "Created By: #{card.user.email}", class: "user-email" %>
	<!-- button and link to edit a card -->
	<% if current_user == card.user_id || current_admin %>
	<!-- only display edit button if the public card was created by the current user or is an admin -->
	<button><%= link_to "Edit Card", edit_public_card_path(card) %></button>
	<!-- only display delete button if the public card was created by the current user or is an admin -->
	<button><%= link_to "Delete Card", public_card_path(card), method: :delete, data: { confirm: "You sure?" } %></button>
	<% end %>
<% end %>