<% if user_signed_in? %>
  <!-- whole card -->
  <div class="card-container">
  <div id="card"> 
    <!-- front of card -->
    <div class="front"> 
    	<div>
        <%= content_tag :p, "", class: "cardQuestion"%>
      </div>
    </div> 
    <!-- back of card -->
    <div class="back">
      <div>
        <%= content_tag :p, "", class: "cardAnswer" %>
      </div>
    </div> 
  </div>

  <!-- navigation buttons for cards -->
  <div class="nextPrevButtons">
    <button class="nextButton">Next</button>
    <button class="previousButton">Previous</button>
  </div>

  <div class="loadButton">
    <!-- form for selecting a new deck of cards from a level -->
    <%= form_tag(card_load_path, method: 'post') do %>  
    <%= label_tag("Select_Level") %>
    <%= select_tag(:cardLevel, options_for_select([['One', 1],['Two', 2],['Three', 3],['Four', 4],['Five', 5],['Six', 6],['Seven', 7],['Eight', 8],['Nine', 9],['Ten', 10],['Eleven', 11],['Tweleve', 12]], selected: :option)) %>
    <%= submit_tag("Load") %>
    <% end %>  
  </div>

<% end %>