<!-- believe this is necessary for gon to work with uJs -->
<%=  Gon::Base.render_data %>

<% if user_signed_in? %>
<!-- whole card -->
<div class="cardPlusButtons">
  <div class="card-container">
    <div id="card"> 
      <!-- front of card -->
      <div class="front"> 
       <div>
        <%= content_tag :p, "", class: "cardQuestion"%>
      </div>
    </div> 
    <!-- back of card -->
    <div class="back">
      <div>
        <%= content_tag :p, "", class: "cardAnswer" %>
      </div>
    </div> 
  </div>

  <!-- navigation buttons for cards -->
  <div class="nextPrevButtons">
    <button class="nextButton">Next</button>
    <button class="previousButton">Previous</button>
    <button><%= link_to('Take a Quiz', quiz_path(@quizTake))  %></button>
  </div>

  <div class="loadButton">
    <!-- form for selecting a new deck of cards from a level -->
    <%= form_tag(card_load_path, remote: :true, method: 'post') do %>  
    <%= label_tag("Select_Level") %>
    <%= select_tag(:cardLevel, options_for_select([['One', 1],['Two', 2],['Three', 3],['Four', 4],['Five', 5],['Six', 6],['Seven', 7],['Eight', 8],['Nine', 9],['Ten', 10],['Eleven', 11],['Twelve', 12]], selected: :option)) %>
    <%= submit_tag("Load") %>
    <% end %>  
  </div>
</div>

<% end %>