<!DOCTYPE html>
<html>
<head>
  <title>NYCDA Quiz App</title>
  <!-- include the gon gem, keep at top to prevent waiting for DOM to load and then loading vars -->
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://cdn.rawgit.com/nnattawat/flip/v1.0.19/dist/jquery.flip.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= flash[:notice] if flash[:notice] %>
	<%= flash[:alert] if flash{:alert} %>
<%= yield %>

</body>
</html>
